// color
$main: #6E551B;
$base-1:#FFFFFF;
$base-2: rgba(#6E551B, .2);
$text-1: #323232;
$text-2: #FFFFFF;

// font
$lora: 'Lora', serif;
$sans: 'Noto Sans JP', sans-serif;
$serif: 'Noto Serif JP', serif;
