@use 'reset';
@use 'variables' as *;
@use 'common';
@use 'modules';
@use 'header';
@use 'footer';

.main-visual{
    height: 100vh;
    width: 100%;
    background: url(../img/photo01.jpg) center center no-repeat;
    background-size: cover;
}

// CONCEPT
.concept{
    background-color: $base-2;

    &-primary{
        display: flex;
        margin-bottom: 90px;

        .colum-first{
            width: 50%;
        }

        .colum-second{
            position: relative;
            height: 600px;
            width: 50%;

            &__photo1{
                position: absolute;
                top: 0;
                right: 0;
                width: 81.8182%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            &__photo2{
                position: absolute;
                bottom: 0;
                width: 54.5455%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }

    &-secondary{
        display: flex;
        align-items: center;

        .colum-first{
            width: 50%;

            &__photo{
                width: 100%;
                aspect-ratio: 4/3;
                object-fit: cover;
            }
        }

        .colum-second{
            width: 50%;
            padding-left: 100px;
        }
    }

    &-article{

        &__head{
            margin-bottom: 1em;
            font-weight: 500;
        }

        &__text{
            line-height: 2;
        }

    }
}

// WORKS
.works{
    &.section{
        padding-bottom: 0;
    }

    .section-head{
        text-align: center;
    }

    &-item{
        display: flex;
    }

    &-link{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 25%;
        aspect-ratio: 1/1;
        object-fit: cover;
        
        // オーバーレイ
        &:before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: .4);
            transition: background-color .5s linear;
        }

        &:hover:before{
            background-color: initial;
        }

        &__title{
            z-index: 0;
            color: $text-2;
            font-size: 24px;
        }
    }

    &-img1{
        background: url(../img/photo05.jpg) center center no-repeat;
        background-size: cover;
    }

    &-img2{
        background: url(../img/photo03.jpg) center center no-repeat;
        background-size: cover;
    }

    &-img3{
        background: url(../img/photo06.jpg) center center no-repeat;
        background-size: cover;
    }

    &-img4{
        background: url(../img/photo02.jpg) center center no-repeat;
        background-size: cover;
    }


}

// NEWS
.news{
    &-list{
        display: flex;
        column-gap: 36px;
        margin-bottom: 72px;
    }

    &-article{
        width: calc((100% - 72px) / 3);

        .picture-frame{
            width: 100%;
            aspect-ratio: 4/3;
            margin-bottom: 18px;
            overflow: hidden;
        }

        &__img{
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
            transition: transform .5s linear;

            &:hover{
                transform: scale(1.1);
            }
        }

        &__date{
            margin-bottom: 18px;
            font-family: $sans;
        }

        &__title{
            font-family: $sans;
            font-weight: 500;
            margin-bottom: 9px;
        }

        &__excerpt{
            line-height: 1.5;
        }
    }

    .btn-wrap{
        text-align: center;
    }
}


